<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://dl.dropbox.com/s/hk7c6wqd8cgm8i4/officialstyles.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

      .playfair {
        font-family: "Playfair Display", serif;
      }

      .poppins {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  <body onload="appendFileInformation()">
    <nav
      class="navbar navbar-light blue lighten-4"
      style="background-color: #e3f2fd"
    >
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/planning">Planning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dropbox">Dropbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/advanced">Advanced</a>
        </li>
      </ul>
    </nav>
    <div class="container my-5 z-depth-1">
      <section class="dark-grey-text p-5">
        <div class="row">
          <div class="col-md-5 mb-4 mb-md-0">
            <div class="view">
              <img
                src="https://mdbootstrap.com/img/illustrations/undraw_Group_chat_unwm.svg"
                class="img-fluid"
                alt="smaple image"
              />
              <br />
              <p class="text-muted mb-4 pb-2 poppins">
                Lesley Cheung
                <br />
                617-123-4556
                <br />
                lesleyc@bu.edu
              </p>
            </div>
          </div>
          <div class="col-md-7 mb-lg-0 mb-4">
            <h3 class="font-weight-bold my-3 playfair">
              Profile
            </h3>

            <p class="text-muted mb-4 pb-2 poppins">
              Upload your profile picture here
            </p>

             <form
                action="/files"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="input-group poppins">
                  <div class="input-group-prepend">
                    <input
                      type="submit"
                      value="submit"
                      class="input-group-text"
                      id="inputGroupFileAddon01"
                    />
                  </div>
                  <div class="custom-file">
                    <input
                      type="file"
                      name="upload"
                      onChange="appendFileInformation()"
                      class="custom-file-input"
                      id="myFile"
                      size="50"
                      aria-describedby="inputGroupFileAddon01"
                    />
                    <label
                      class="custom-file-label"
                      for="myFile"
                      >Choose file</label
                    >
                  </div>
                </div>
              </form>
              <br />

              <!-- Render the list of uploaded files here -->

              <!--  -->
              <!--  -->

              <p class="poppins" id="fileInformation"></p>

              <p class="poppins" id="files"></p>
              <p class="poppins">
                This will display a list of potential files
                for you to choose your profile picture from
              </p>
            </form> 
            <!-- fancy form -->

            <!-- List of Images -->

            <div class="images"></div>
            <form onSubmit="appendImage(name)">
                <input name="name" type="string" />
            <button type="submit">Change Image</button>
            </form>
            <!-- List of Images -->

            

            <!-- List of Images -->
          </div>
        </div>
      </section>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script type="application/javascript" async defer>

    // Function that would append each file name 
    function appendImage(name) {
        $(".images").append(`<img src="/uploaded/${name}" />`)
    }
    /**********************************************
     * grabbing all the files from uploaded folder 
     * ==================================
     * rendering it accordingly 
     ***********************************************/
      function appendFileInformation() {
        let x = document.getElementById("myFile");
        let txt = "";

        if ("files" in x) {
          if (x.files.length == 0) {
            txt = "Select one or more files.";
          } else {
            for (var i = 0; i < x.files.length; i++) {
              txt +=
                "<br><strong>" +
                (i + 1) +
                ". file</strong><br>";
              var file = x.files[i];
              if ("name" in file) {
                txt += "name: " + file.name + "<br>";
              }
              if ("size" in file) {
                txt += "size: " + file.size + " bytes <br>";
              }
            }
          }
        } else {
          if (x.value == "") {
            txt += "Select one or more files.";
          } else {
            txt +=
              "The files property is not supported by your browser!";
            txt +=
              "<br>The path of the selected file: " +
              x.value;
          }
        }
        document.getElementById(
          "fileInformation"
        ).innerHTML = txt;
      }
    </script>
  </body>
</html>
